extends /templates/_layouts/master

include ../_mixins/form-input/form-input
include ../_mixins/divider/divider
include ../_mixins/button/button
include ../_mixins/static-content/static-content

block body

  .container.sg-container

    +header

    form.max-w-lg.mx-auto.px-4

      h1.text-3xl.text-fit-default.mt-8.mb-4 Business Information
      .stack.mb-4
        each formField in contentData.formData.signUpForm
          .item(class="w-full sm:w-1/2")
            if formField.type === 'select'
              if floatingLabels
                +select(formField.label, formField.name, 'floating')
                  option Select
                  option Option 1
                  option Option 2
                  option Option 3
              else
                +select(formField.label, formField.name, 'standard')
                  option Select
                  option Option 1
                  option Option 2
                  option Option 3


            else
              if floatingLabels
                +input(formField.label, formField.type, formField.name, 'floating')
              else
                +input(formField.label, formField.type, formField.name, 'standard')

