mixin button(text, inputStyle)
  if inputStyle === 'floating'
    button.primary.text-white.px-10.h-14.w-64.rounded.uppercase.bg-blue.font-sans.font-bold.text-xl.tracking-wide(class!=attributes.class)
      = text
  else
    button.primary.text-white.px-10.h-12.w-64.rounded.uppercase.bg-blue.font-sans.font-bold.text-xl.tracking-wide(class!=attributes.class)
      = text