extends /templates/_layouts/master

include mixins/button/button
include mixins/checkbox/checkbox
include mixins/divider/divider
include mixins/radio-question/radio-question

block body

  .container.mx-auto.text-sm.border.text-grey-darkest.border-red.mt-8

    .max-w-sm.mx-auto.px-4

      +divider

      +radio-question('Do you have future plans to expand your business?', 'futureExpandPlans', ['Yes', 'No'])

      +radio-question('Do you currently offer financing to your customer?', 'financingToCustomer', ['Yes', 'No'])

      p.mb-4
        | Select the categories that apply to your business.

      each vertical in contentData.formData.verticals
        +checkbox(vertical.title, vertical.label, vertical.name)

      +divider

      .text-center.mb-16
        +button('Continue')(class='bg-blue')
