extends /templates/_layouts/master

include _mixins/form-input/form-input
include _mixins/divider/divider
include _mixins/button/button

block body

  .container.sg-container
   form.max-w-md.mx-auto.px-4
      h1.text-xl.text-fit-default.mt-8.mb-4 Password creation
      .stack.mb-4
        .item(class="w-full sm:w-1/2")
          +floatingLabelInput('Password', 'password', 'password')

      h1.text-xl.text-fit-default.mt-8.mb-4 Business Information
      .stack.mb-4
        .item(class="w-full sm:w-1/2")
          if error
            +floatingLabelInput('Company Name', 'text', 'companyname', 'error', 'That seems like a made up company name. Try again.')
          else
            +floatingLabelInput('Company Name', 'text', 'companyname')

        .item(class="w-full sm:w-1/2")
          +floatingLabelInput('Business Address', 'text', 'businessaddress')
        .item(class="w-full sm:w-1/2")
          +floatingLabelInput('City', 'text', 'city')
        .item(class="w-full sm:w-1/2")
          +floatingLabelInput('Legal Business name', 'text', 'legalbusinessname')
        .item(class="w-full sm:w-1/2")
          +floatingLabelInput('Business Address Line 2', 'text', 'businessaddress2')
        .stack(class="w-full sm:w-1/2") 
          .item(class="w-2/3")
            +select('Province', 'province')
              option Alberta
              option Ontario
              option Quebec 

          .item(class="w-1/3")
            +floatingLabelInput('Post Code', 'text', 'postal')  


      +divider

      h1.text-xl.text-fit-default.mt-8.mb-4 Business Details
      .stack.mb-4
        .item(class="w-full sm:w-1/2")
          if error
            +floatingLabelInput('Business Website (Optional)', 'text', 'businesswebsite', 'error', 'Cannot be blank')
          else
            +floatingLabelInput('Business Website (Optional)', 'text', 'businesswebsite')
        .item(class="w-full sm:w-1/2")
          if error
            +floatingLabelInput('Organization Type', 'text', 'organizationtype', 'error', 'This is a genuine error message.')
          else
            +floatingLabelInput('Organization Type', 'text', 'organizationtype')

        .item(class="w-full sm:w-1/2")
          +floatingLabelInput('Years in business', 'number', 'yearsinbusiness')

      +radio-question(
        'Is your business eCommerce exclusive??', 
        'ecommerceExclusive', 
        ['Yes', 'No'])

      .stack.mb-4
        .item(class="w-full sm:w-1/2")
          +floatingLabelInput('Typical no. of sales per week', 'tel', 'salesperweek')
        .item(class="w-full sm:w-1/2")
          +floatingLabelInput('Average transaction size', 'number', 'avgtransactionsize')

      +radio-question(
        'Do you have future plans to expand your business?', 
        'futureExpandPlans', 
        ['Yes', 'No'])

      +radio-question(
        'Do you currently offer financing to your customer?', 
        'financingToCustomer', 
        ['Yes', 'No'])     

      fieldset
        legend.mb-4 Select the categories that apply to your business.
        each vertical in contentData.formData.verticals
          +checkbox(vertical.title, vertical.label, vertical.name)

      +divider

      .text-center.mb-16
        +button('Continue')
