/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Category 1
 ========================================================================== */

$black: #000;
$gray: #666;

/* FONT COLORS
 ========================================================================== */

$text-link: #006be3;
$text-red: #ff0d00;
$text-40: #a7a9ad;
$text-60: #7b7e83; 
$text-80: #4f535a;
$text-100: #232831;
$text-black: #181a21;

