/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */


/* FONT COLORS - Colors
 ========================================================================== */

$text-blue: rgba(0,107,227,1);
$text-blue-hover: rgba(26,96,191,1);
$text-red: rgba(255,13,0,1);
$text-white: white;


/* FONT COLORS - Greys
 ========================================================================== */
$text-40: rgba(35,40,49,0.4);
$text-60: rgba(35,40,49,0.6); 
$text-80: rgba(35,40,49,0.8);
$text-100: rgba(35,40,49,1);
$text-black: #181a21;




/* UI Colors - Greys
========================================================================== */

$grey-25: rgba(181,192,208,0.25);
$grey-50: rgba(181,192,208,0.5);
$grey-75: rgba(181,192,208,0.75);
$grey: rgba(181,192,208,1);
$darker-grey: rgba(158,166,181,1);


/* UI Colors - Reds
========================================================================== */
$red-10: rgba(255,13,0,0.1);
$red: rgba(255,13,0,1);

/* UI Colors - Blues
========================================================================== */
$blue-40: rgba(0,107,227,0.4);
$blue-60: rgba(0,107,227,0.6);
$blue-80: rgba(0,107,227,0.8);
$blue: rgba(0,107,227,1);
$darker-blue: rgba(26,96,191,1);

/* UI Colors - Greens
========================================================================== */
$green-40: rgba(0,183,79,0.4);
$green-60: rgba(0,183,79,0.6);
$green-80: rgba(0,183,79,0.8);
$green: rgba(0,183,79,1);
$darker-green: rgba(33,163,61,1);

/* UI Colors - MISC
========================================================================== */
$transparent: transparent;
$white: white;