
@tailwind preflight;
@tailwind components;
@tailwind utilities;

.appearance-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sg-container {
  @apply
    bg-white
    shadow-lg
    mx-auto
    py-8
    mt-8;
}

body {
  @apply font-sans;
}

h3 {
  @apply
    text-2xl
    mb-4
    font-display
    font-semibold
    text-80;
}

.input-group label {
  @apply 
    block 
    mb-2
    text-base;
}


.input-field {
  @apply 
    appearance-none 
    border-fit-grey-lighter
    w-full
    block
    border
    rounded-sm 
    px-2
    py-2
    text-lg 
    text-80
    leading-tight;
}

.select-input-field {
  @apply bg-white shadow-inner; 
}

.input-field:hover, .input-field:active, .input-field:focus, .select-input-field:hover, .select-input-field:active, .select-input-field:focus {

  @apply
    border-fit-blue-darkest
    shadow-none
    text-100;
}

.stack {
  @apply flex flex-wrap
}

.stack .item {
  @apply mb-8
}

.stack .stack .item:nth-child(odd) {
  @apply pr-2
}

.stack .stack .item:nth-child(even) {
  @apply pl-2
}

@screen sm {
  .stack .item:nth-child(odd) {
    @apply pr-2
  }
  .stack .item:nth-child(even) {
    @apply pl-2
  }
  .stack .stack .item:nth-child(odd) {
    @apply pl-2
  }
}


button.primary {
  @apply 
    text-white 
    px-10
    py-5
    rounded-sm
    uppercase
    bg-fit-blue
    font-display
    text-xl
    tracking-wide;
}