mixin checkbox(title, label, name)
  label.block.ml-5.mb-6(for=name)
    input.float-left.-ml-5.mt-1(type="checkbox" id=name name=name)
    span.block.font-bold.text-80.mb-1.mr-1.leading-tight
      = title
    span.block.text-60.leading-normal
      = label
