mixin input(label, type, name)
    .input-group(class!=attributes.class)
        label.block.uppercase.tracking-wide.text-grey-darker.text-xs.font-bold.mb-2(for=name)= label
        input.appearance-none.block.w-full.bg-grey-lighter.text-grey-darker.border.border-grey-lighter.rounded.py-3.px-4.leading-tight(type=type id=name name=name)
        if block
            p.text-grey-dark.text-xs.italic
                block

