mixin header
  header.h-24.border-b-4.border-fit-green.mb-20
    .flex.items-center.justify-between
      img.h-16(src="images/logo.png")
      h1.pr-4.text-xl(class="lg:pr-24 md:pr-10 lg:text-5xl md:text-3xl") Partner Application

mixin footer
  footer.mt-32
    hr.bg-grey-light.h-px.my-8(class="w-4/5")

    .max-w-sm.mx-auto.text-center.text-blue.text-sm(class="md:text-base")
      span.px-3
        i.fa.fa-phone
        a(href='#') 1-888-536-3025
      span.px-3
        i.fa.fa-envelope-o
        a.font-sans.text-blue.no-underline(href='#') service@financeit.io
      .py-4
        a.font-sans.text-blue.no-underline(href='#') Francais
        span.separator
        a.font-sans.text-blue.no-underline(href='#') Privacy Policy &amp; Terms
        span.separator
        a.font-sans.text-blue.no-underline(href='#') Financeit Status

      p.text-100.text-xs.uppercase.font-bold © 2018 Financeit Canada Inc.
