mixin header
  header.h-24.border-b-4.border-fit-green.mb-20.flex.flex-row.justify-between
    span
      img.w-48(src="images/logo.png")
    span.pr-16
      h1.text-5xl.text-100 Partner Application
